html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position:center center;
	background: #35324B url(images/overlay.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	color: #35324B;
}

/* Дополнительные функции для текста */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #35324B;
}

h2 {
	padding: 0px 0px 30px 0px;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #35324B;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

/* Устанавливаем параметры стиля для изображений */
	.image
	{
		display: inline-block;
		border: 1px solid #35324B;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


hr {
	display: none;
}

/* Создаём область фона каталога */

#wrapper {
	background: #E9CBD5;
	margin: 0px 20px;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Устанавлмваем параметры,расположение,размер и цвет логотипа,слогана, также добавляем картинку */

#header-wrapper
{
	background: url(images/bg.jpg) no-repeat center center;
	background-size: cover;
}

#header {
	position: relative;
	overflow: hidden;
	height: 600px;
}

#social
{
	position: absolute;
	top: 4em;
	right: 0;
}

/* Логотип */

#logo {
	position: absolute;
	top: 3em;
	left: 0;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 3.5em;
	text-decoration: underline;
	color: #FF0030;
}

#logo p {
	padding: 0px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #FF0030;
}

#logo p a {
	color: #FF0030;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FF0030;
}

/* Каталог сайта */

#menu {
	overflow: hidden;
	background: #35324B;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/* Назначение параметров для страницы каталога, добавление стиля шрифту и цвет */

#page {
	overflow: hidden;
	padding: 5em 0em;
}

	#page img
	{
		margin-bottom: 1em;
	}

	#page .title
	{
		margin-bottom: 2em;
	}

	#page .title h2
	{
		font-size: 1.5em;
		font-weight: 400;
		font-style: italic;
		font-weight: bolder;
		text-decoration: underline;
	}
	
	#page .title .byline
	{
		display: block;
		padding-bottom: 2em;
		color: #35324B;
	}

/* Содержание сайта */

#content {
	float: left;
	width: 800px;
	padding-right: 50px;
	border-right: 1px solid #35324B;
}

#content .post-title
{
	margin-bottom: 2em;
}

#content .post-title h2
{
	margin: 0;
	padding: 0;
}


#content .post
{
	margin-bottom: 4em;
	padding-bottom: 4em;
	border-bottom: 1px solid #E6E7DC;
}

/* Боковая панель 1 */

#sidebar1 {
	float: right;
	width: 250px;
	margin-right: 50px;
}

#sidebar1 #box1 {
	margin-bottom: 4em;
}

#sidebar1 h2,
#sidebar2 h2
{
	font-size: 1.5em;
	font-weight: 400;
}

/* Боковая панель 2 */

#sidebar2 {
	float: right;
	width: 250px;
}

/* Назначение параметров и цвета для нижней области */

#footer {
	overflow: hidden;
	padding: 50px 0px 30px 0px;
}

#footer p {
	text-align: center;
	color: #35324B;
	font-weight: bolder;
	text-decoration: underline;
}

#footer a {
	color: #35324B;
}

/* Стиль списка 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* Стиль списка 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
	font-size: 1.10em;
}

ul.style2 h3 a {
	color: #35324B;
}

ul.style2 a {
	text-decoration: none;
}

ul.style2 a:hover {
	text-decoration: underline;
}


/* Стиль списка 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style3 p {
	margin: 0px;
	padding: 0px;
}

ul.style3 img {
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted {
	padding: 10px 0px 10px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
}

.link-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #0C73D4;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}


/* Устанавливаем параметры расположения картинок */


	#portfolio-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: rgba(0,0,0,.02);
		background-image: url(images/overlay.png);
		background-repeat: repeat;
		border-top: 1px solid rgba(0,0,0,.05);
	}
	
	#portfolio
	{
	}

	#portfolio .box
	{
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 400;
		color: rgba(0,0,0,0.7);
	}

	#portfolio .title
	{
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#portfolio .title .byline
	{
		display: block;
		padding-bottom: 2em;
		color: rgba(0,0,0,0.7);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}


/* Название загаловка */

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		margin: 0;
		padding: 0;
		font-size: 2.8em;
		color: #35324B;
	}
	
	.title .byline
	{
		padding-top: 0.50em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
	}

/* Назначаем стиль для кнопки */

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0em 1em;
		background: #35324B;
		letter-spacing: 0.10em;
		line-height: 3em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	

/* Назначаем стили для иконок */


	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: none;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: rgba(255,255,255,1);
	}

/*Устанавливаем параметры для верхней области*/
#logo_container {
	height:90px;
	margin-left: auto;
	margin-right:auto;
}

/*Задаём размер,вставляем картинку и расположение логотипа*/
#logo_image {
	width:75px;
	height:75px;
	margin-left: 348px;
	margin-top:15px;
	float:left;
	background: url(images/logo.jpg);
}

/*Устанавливаем параметры для картинки логотипа*/
#top_bar_black {
	width: 1900px;
	height:90px;
	background-color:#35324B;
}

/*Задаём размер и расположение текста на верхней области*/
#nav_block {
	width: 1800px;
	height:90px;
	/* float:right; */
	font-style: italic;
}

/*Устанавливаем цвет и размер для верхей области*/
.nav_button {
	width: 149px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-left: 50px;
	margin-top:40px;
	text-decoration: underline;
	/* text-align:center; */
	float: right;
}

/*Устанавливаем параметры для нижней области*/
#main_container {
	height:90px;
	width:900px;
	margin-left: 135px;
	margin-right:auto;
}

/*Устанавливаем параметры для текста в верхней области*/
#bottom_bar_black {
	width: 1900px;
	height: 130px;
	background-color:#35324B;
}

/*Задаём цвет и размер надписи Контакты*/
#header_content_lowerline {
	font-size:20px;
	color:#FFFFFF;
	width:530px;
	text-decoration: underline;
	font-style: italic;
}

/*Задаём цвет и размер информации Контактов*/
#header_content_lowerboxcontent {
	font-size: 16px;
	color:#CCCCCC;
	width: 455px;
}

/*Устанавливаем параметры для нижнего контейнера*/
#header_lower {
	width: 1215px;
	float:left;
	margin-right: 100px;
}

