@charset "UTF-8";

body {
	margin:0px;
	padding: 0px;
	background-image: url(../images/Untitled-4.png);
	background-position:center center;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 15px;
	min-height:100%;
    background-size:cover;
  background-attachment: fixed;

}

/*Устанавливаем параметры для верхней области*/
#logo_container {
	height:90px;
	width:950px;
	margin-left: 650px;
	margin-right:auto;
}

/*Задаём размер,вставляем картинку и расположение логотипа*/
#logo_image {
	width:75px;
	height:75px;
	margin-left: -374px;
	margin-top:15px;
	float:left;
	background-image: url(../images/logo.jpg);
}

/*Устанавливаем параметры для картинки логотипа*/
#top_bar_black {
	width: 2400px;
	height:90px;
	background-color:#35324B;
}

/*Задаём размер и расположение текста на верхней области*/
#nav_block {
	width: 785px;
	height: 100px;
	float:right;
	font-style: italic;
}

/*Устанавливаем цвет и размер для верхей области*/
.nav_button {
	width: 150px; 
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	margin-left:5px;
	margin-top:40px;
	text-decoration: underline;
	text-decoration-color: #ffffff;
	text-align:center;
	float:left;
}

/*Расположение окна*/
* {
  box-sizing: border-box;
  box-sizing: content-box;
  box-sizing: border-box;
  margin: initial;
  line-height: 1.5;
	color: #35324B;
}

/*Настраиваем параметры для окна оформления заказа*/
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

/*Настраиваем параметры для окна оформления заказа*/
.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

/*Настраиваем параметры для окна оформления заказа*/
.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

/*Настраиваем параметры для окна с корзиной*/
.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

/*Настраиваем параметры для окна оформления заказа*/
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

/*Устанавливаем цвет,размер окна и границы*/
.container {
  background-color: #CBE5FF;
  padding: 5px 20px 15px 20px;
  border: 2px solid #504D6B;
  border-radius: 20px;
}

/*Устанавливаем цвет,границу и размер ячеек*/
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*Ширина между ячейками*/
label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

/*Устанавливаем параметры,цвет,стиль и размер кнопки Оформить заказ*/
.btn {
  background-color: #FF0030;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
	font-style: italic;
	text-decoration: underline;
}

/*Устанавливаем цвет и стиль надписям Товар*/
a {
  color: #FF0030;
	font-style: italic;
}

/*Цвет для полоски перед Товарами*/
hr {
  border: 1px solid #35324B;
}

/*Цвет цен товаров*/
span.price {
  float: right;
  color: #35324B;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*Устанавливаем параметры для нижней области*/
#main_container {
	height:90px;
	width:900px;
	margin-left: 135px;
	margin-right:auto;
}

/*Устанавливаем параметры для текста в верхней области*/
#bottom_bar_black {
	height: 130px;
	margin: 130px;
	margin-left: -667px;
	margin-right: -802px;
	background-color:#35324B;
}

/*Задаём цвет и размер надписи Контакты*/
#header_content_lowerline {
	font-size:20px;
	color:#FFFFFF;
	width:530px;
	text-decoration: underline;
	font-style: italic;
}

/*Задаём цвет и размер информации Контактов*/
#header_content_lowerboxcontent {
	font-size: 16px;
	color:#CCCCCC;
	width: 455px;
}

/*Устанавливаем параметры для нижнего контейнера*/
#header_lower {
	width: 1215px;
	float:left;
	margin-right: 100px;
}
